.container {
  margin-top: 150px;
  width: 350px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
#btn {
  width: 150px;
  height: 30px;
  border: none;
}
