.container-fluid {
  margin-top: 150px;
  /* background-image: url(./assets/images/istockphoto-1031937404-170667a.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 350px; */
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
#btn {
  width: 150px;
  height: 30px;
  border: none;
}
