<div class="container-fluid">
    <h4 class="text-center text-primary">Add a Quote</h4>
    <br>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="title">Author's Name</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="newQuote.name" name="title" #name='ngModel'placeholder="Fill in name" required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Please insert name</p>
            </div>
            <pre></pre>
        </div>
        <div class="form-group">
          <app-quotes></app-quotes>

            <label for="description">Quote</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" placeholder="Enter your quote here"required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
  
            <label for="complete">Entry date </label>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate"  #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" id="btn">Add Quote</button>
    </form>
    <app-quotes></app-quotes>

    </div>

  
  
  
  