<div class="container mt-4">
    <h1>Famous Quotes</h1>
  
    <div class="row">
      <div class="col-md-6">
        <div class="mr-4 card" *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}} appStrikethrough>{{quote.name}} posted {{quote.completeDate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Read Quote</button>
          </div>
          <br>
          <br>
          <div *ngIf='quote.showDescription'>
            <br>
            <app-quote-details  [quote]='quotes' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
          </div>
        </div>
      </div>
      <div class="col">
        <app-form (addQuote)="addNewQuote($event)"></app-form>
      </div>
    </div> 
  </div> 
