.form {
  background-image: url(../assets/images/istockphoto-1031937404-170667a.jpg);
  width: 50%;
}
#btn {
  border: none;
  outline: none;
  text-transform: uppercase;
}
.label {
  text-transform: uppercase;
}
